.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

main {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: space-evenly;
}

.section {
  border: 1px red solid;
  width: 33%;
}

.taskHolder {
  display: flex;
  flex-direction: column;
  background-color: pink;
  height: 90%;
  overflow: scroll;
}

.task {
  border: 1px black solid;
}
